<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="cxs/static/img/favicon.ico">
    <title>长相思</title>

    <script src="cxs/static/js/vue.global.js"></script>
    <script src="cxs/static/js/disabledeveloper.js"></script>
    <link type="text/css" rel="stylesheet" href="cxs/static/css/index.css" />
</head>

<body>
<div id="app">
    <div class="container">
        
        <template v-else>
            <img src="cxs/static/img/banner.jpg" alt="Banner" class="responsive-image">

            <div class="text">
            <div v-for="(line, index) in textContent" :key="index">{{ line }}</div>
	    </div>
            <div v-for="(btn, index) in buttons" :key="index">
                <a :href="btn.url" class="btn" @click.prevent="btnClick(btn.id)">{{ btn.label }}</a>
            </div>

            <img src="cxs/static/img/footer.jpg" alt="Footer" class="responsive-image">
        </template>
    </div>
</div>

<script>
    const { createApp, ref } = Vue;
    const App = {
        setup() {
            const isTencentApp = ref(false);
            const ua = navigator.userAgent.toLowerCase();
            if (/micromessenger|qq\//.test(ua)) {
                isTencentApp.value = true;
            }

            const textContent = ref([
                "==================================================",
                "长相思全网首发IOS超级TF全天24小时下载",
                "==================================================",
                "全网独家TF下载，高端稳定不闪退",
                "特别提醒："不支持IOS15及以下系统，禁止安装！！！",
            ]);
            const buttons = ref([
                { id: 2, label: '长相思视频教程', url: 'https://video-material-tencos.lingtuo.cn/team/video/89785850/16zabg/seq/1718622804.368287.mp4' },
                { id: 4, label: 'TF安装第一步', url: 'https://apps.apple.com/cn/app/testflight/id899247664' },
                { id: 5, label: 'TF安装第二步', url: 'https://down.githvb.lol/#/redeem/aaa' },
                // { id: 6, label: '商务兑换教程', url: 'https://video-material-tencos.lingtuo.cn/team/video/89785850/16zabg/seq/1717221010.791429.mp4' },
                { id: 7, label: 'TF安装教程', url: 'https://video-material-tencos.lingtuo.cn/team/video/89785850/16zabg/seq/1717220878.102551.mp4' },
               // { id: 8, label: '邀请码查询', url: 'check/index.html' },
            ]);

          
</script>
</body>
</html>
